/* MATERIAL GEOCODER CONTROL */
form.geocoder-form {
  margin-bottom: 5px;

  .mdl-button.clear-search {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
    visibility: hidden;
  }

  .mdl-progress {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }

  .mdl-textfield {
    padding: 20px 15px;
    border-radius: 10px;
    transition: all 0.4s ease-in;

    &.is-focused,
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    > .mdl-button--icon {
      margin-right: 20px;
    }

    &.is-focused .mdl-textfield__expandable-holder {
      margin-right: 20px;
      padding-left: 10px;
    }

    .is-dirty {
      .mdl-textfield__label,
      .mdl-button.clear-search {
        visibility: visible;
      }
    }
  }
}
.leaflet-control-geocoder-results-mdl {
  padding: 5px 0 5px 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0s linear 0.2s;

  .show-results {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

  > * {
    display: block;
    padding: 5px 10px 5px 10px;
  }

  a:hover {
    background-color: #fafafa;
  }
}
.searching form.geocoder-form .mdl-progress {
  visibility: visible;
}
